<footer>
<div class= "navbar navbar-inverse navbar-static-bottom" role="navigation">
    <div class="navbar-text pull-left">
    </div>
    <div class= "navbar-text pull-right">
<!-- Add in your social media / github links here -->
        <a href="https://github.com/sovietspy2">
            <i class="fa fa-github-square fa-2x"></i></a>
    </div>
    <!--Below is the copyright information for the site. You can fill in your own here.-->
    <div class="navbar-text pull-left">
    &copy; Qkac 2k18
    </div>
</div>
</footer>