
#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#inner-message {
    margin: 0 auto;
}

#post_panel{
    color: white;
}

.panel-default >.panel-heading
{
    color: #ffffff;
}
